@model IEnumerable<AHTP.Models.TruckDetail>

@{
    ViewBag.Title = "Truck Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Truck Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TruckDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TruckDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TruckDetailsId })
        </td>
    </tr>
}

</table>
