@model IEnumerable<AHTP.Models.DeliveryPaysheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waiting.WaitingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.DeliveryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waiting.WaitingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery.DeliveryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliveryPaysheetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryPaysheetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryPaysheetId })
        </td>
    </tr>
}

</table>
